project
{
    version 4.2
    timestamp 2024-12-16T15:55:47+0100
}
devices
{
    device
    {
        id target
        manufacturer actel
        die MPFS250T_ES
        package FCVG484
        mss_keep_alive false
        no_power_down false
        ios_cfg_path ""
        envms
        {
            envm
            {
                num_bytes 36224
                file_format intel-hex
                file_path /home/makro/softconsole_2022/led-hdmi-uart-switches/TySOM-M/bootmode1/led-hdmi-uart-switches-bm1-p0.hex
                start_page 0
                client_name bootmode1_0
                base_addr 20220000
            }
        }
        mss_boot_info
        {
            ucskx ""
            ucsky ""
            bootmode 1
            bootcfg 2022010020220100202201002022010020220100
            reset_sbic_version false
        }
    }
}
